.sidebar {
  width: 200px;
  background-color: #5f1f5e;
  height: 100%;
  color: white;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    width: 130px;
  }
}
