.sidebar {
  flex: 1;
  min-width: 200px;
  max-width: 250px;
  background-color: #5f1f5e;
  overflow-y: auto;
  color: white;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
  margin: 0;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    width: 130px;
    min-width: 120px;
  }
}
